<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'charts/news.css' %}"/>

<body>
	<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
	  	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/charts/">CHARTS</a>
	  	<form class="form-inline form-search" method="GET" action="/charts/search/">
	        <input class="form-control mr-sm-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
	        <button class="form-control my-2 my-sm-0" type="submit">Search</button>
      	</form>
	</nav>

	<div class="container-fluid">
	  <div class="row">
	    <nav class="col-md-2 d-none d-md-block sidebar">
	      <div class="sidebar-sticky">
	        <ul class="nav flex-column">
	          <li class="nav-item">
	            <a class="nav-link" href="/charts/analysis/{{ stock.id }}">
	              <span data-feather="home"></span>
	              ANALYSIS
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link active" href="/charts/info/{{ stock.id }}">
	              <span data-feather="shopping-cart"></span>
	              INFO <span class="sr-only">(current)</span>
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/charts/news/{{ stock.id }}">
	              <span data-feather="bar-chart-2"></span>
	              NEWS 
	            </a>
	          </li>
	        </ul>
	      </div>
	    </nav>

	    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="background-color:#F1F3EF">
	        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		        <h1 class="h2">{{info.name}}</h1>
		    </div>
		    <div class="row">
	      		<div class="card" style="width:100%">
	      			<table class="table table-hover table-borderless">
				      	<tbody>
				        	<tr>
				            	<td scope="row" class="h5">SYMBOL</td>
				            	<td scope="col">{{info.symbol}}</td>
				            </tr>
				            <tr>
				            	<td scope="row" class="h5">PRICE</td>
				            	<td scope="col">{{info.close}}</td>
				            </tr>
				            <tr>
				            	<td scope="row" class="h5">CHANGE</td>
				            	<td scope="col">{{info.diff}}</td>
				          	</tr>
				          	<tr>
				          		<td scope="row" class="h5">DATA</td>
				          		<td scope="col">
				          			<form class="form-inline" style="margin-top:1rem;" method="GET" action="/charts/download/{{ stock.id }}/" target="_blank">
							        	<select class="custom-select form-control mb-2" name="period">
											<option value="1m">1 Minute</option>
										  	<option value="5m">5 Minute</option>
										  	<option value="15m">15 Minute</option>
										  	<option value="30m">30 Minute</option>
										  	<option value="1h">Hourly</option>
										  	<option value="1d">Daily</option>
										  	<option value="1wk">Weekly</option>
										  	<option value="1mo">Monthly</option>
										  	<option value="1y">Yearly</option>
										</select>
										<button class="form-control mb-2" type="submit">Download</button>
									</form>
				          		</td>
				          	</tr>
				    	</tbody>
				  	</table>
	      		</div>
	      	</div>
		    
	    </main>
	</div>
</div>
</body>
