body {
  font-size: .875rem;
  font-family: 'Muli', "Helvetica", Arial, sans-serif,
}

.h2{
  color: white;
}

a:hover, a:focus {
  color: white;
  text-decoration: none;
}

main {
  background-image: url('blur-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.card {
  margin-top:1.5rem;
  margin-right:1.5rem;
  margin-left:1.5rem;
  margin-bottom:1.5rem
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 12.5px;
  background-color: white;
  padding:25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  background-color: #05001f;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  padding-top: 1.25rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: white;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: white;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.navbar{
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  background-color: black;
}

.form-control {
  color: #007bff;
  border-color: #007bff;
  background-color: #101010;
}

.form-search{
  margin-top: 0.5rem;
  margin-right:1rem;
}

.form-control:focus {
  color: #007bff;
  border-color: #007bff;
  background-color: #101010;
}
